<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>卡莱尔二手物品交易商城</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="stylesheet" href="dist/css/swiper.min.css">
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="">问题反馈</a></li>
					</ul>
				</div>
				<div class="right fr">
					<!--<div class="gouwuche fr"><a href="">购物车</a></div>-->
					<div class="fr">
						<ul>
							<li><a ng-if="login=='登录/注册'" ng-click="toLogin()" target="_self">{{login}}</a></li>
							<li><a ng-if="login!='登录/注册'" target="_self">{{login}}</a></li>
							<li><a >|</a></li>
							<li><a ng-if="login!='登录/注册'" ng-click="out()" target="_self">{{tuichu}}</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a ng-repeat="x in fenlei" ng-click="fenleiClick(x.name)">{{x.name}}</a></li>
				</ul>
			</div>
			<div class="search fr">
				<div>
					<div class="text fl">
						<input ng-model="sousuoStr" type="text" class="shuru"  placeholder="请输入要搜索的商品名称">
					</div>
					<div class="submit fl">
						<input ng-click="search();" type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->

	<!-- start banner_y -->
		<div class="center">
			<div class="swiper-container" style="width: 1225px">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img width="1225px;" src="image/slider1.jpg" alt=""/></div>
					<div class="swiper-slide"><img width="1225px;" src="image/slider2.jpg" alt=""/></div>
					<div class="swiper-slide"><img width="1225px;" src="image/slider3.jpg" alt=""/></div>
					<div class="swiper-slide"><img width="1225px;" src="image/slider4.jpg" alt=""/></div>
				</div>

				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

		</div>

		<div style="margin-left: 16.6%;" class="sub_banner center">
			<div class="datu fl"><a href=""><img ng-click="gotoMaijia();" style="width: 610px;" src="./image/shoes.jpg" alt=""></a></div>
			<div class="datu fl"><a href=""><img ng-click="gotoNews();" style="width: 610px;" src="./image/news.jpeg" alt=""></a></div>
			<div class="clear"></div>


		</div>
	<!-- end banner -->
	<!--<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>-->

	<!-- start danpin -->
		<div class="danpin center">
			
			<div class="biaoti center">最新上架</div>
			<div class="main center">
				<div ng-repeat="x in zuixinshangjia" class="mingxing fl">
					<div class="sub_mingxing"><a href=""><img ng-src="{{x.tupian}}" alt=""></a></div>
					<div class="pinpai"><a href="">{{x.shopname}}</a></div>
					<div class="youhui">  </div>
					<div class="jiage">{{x.jiage}}元</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<footer class="mt20 center">			
			<div class="mt20">
				友情链接：
				<a style="text-decoration:underline;color: blue;" href="https://www.taobao.com/" alt="_blank">淘宝</a>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<a style="text-decoration:underline;color: blue;" href="https://www.amazon.cn/" alt="_blank">亚马逊</a></div>
			<div style="font-size: 25px"> 卡莱尔二手交易网站</div>
		</footer>
	</body>
</html>
<script src="angular/angular.js"></script>
<script src="dist/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope,$http) {
        $scope.tuichu = '退出登录';
        $scope.sousuoStr = '';
        $scope.fenlei = [
			{name: '鞋'},
			{name: '衣服'},
			{name: '裤子'},
			{name: '奢侈品'},
			{name: '电脑办公'},
			{name: '手机数码'},
			{name: '箱包手袋'},
			{name: '美妆护肤'},
			{name: '钟表珠宝'},
			{name: '家用电器'}
		];
        $scope.zuixinshangjia = [];
        $scope.fenleiClick = function (name) {
			console.log(name);
			window.sessionStorage.setItem('shopname', name);
			window.sessionStorage.setItem('sousuoStr', '');
			window.location.href = 'liebiao.html'
        }
        if (window.localStorage.getItem('username')){
            $scope.login = '用户名：' + window.localStorage.getItem('username');
        }else{
            $scope.login = '登录/注册';
		}

        $http.get("http://192.168.1.118:8080/commodity/selectoeder",
            {
                params: {
                    // shopname: ''
                }
            })
            .success(function (data, header, config, status) {
                console.log(data);
                if (data.ErrorCode == 0){
                    console.log("查询成功");
                    $scope.zuixinshangjia = data.Data;
                }else {
                    console.log("查询失败");
                }
            })
            .error(function (data, header, config, status) {
                console.log(data);
            }) ;

        $scope.search = function () {
            window.sessionStorage.setItem('shopname', '');
			window.sessionStorage.setItem('sousuoStr', $scope.sousuoStr);
			window.location.href = 'liebiao.html';
        }

        $scope.gotoNews = function () {
			window.location.href = 'self_info.html';
        }
        $scope.gotoMaijia = function () {
			window.location.href = 'salerEnter.html'
        }
        $scope.toLogin = function () {
			window.location.href = 'login.html';
        }
        $scope.out = function () {
            window.localStorage.clear();
            window.sessionStorage.clear();
            window.location.href = 'login.html';
        }
    });
</script>